.homeSection {
  background-image: url("/src/assets/homeimage.jpg");
  height: 50rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.homeSection::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--dark-color);
  z-index: 1;
  opacity: 0.6;
  top: 0;
  left: 0;
  position: absolute;
}

.home {
  width: 80%;
  color: var(--gray-color);
  position: absolute;
  top: 35%;
  left: calc(50% - 40%);
  text-align: center;
  z-index: 2;
}
.home .cta {
  margin-top: 0.8rem;
}
.home h2 {
  width: 80%;
  font-weight: 800;
  margin: 1.5rem auto;
  font-size: 28px;
  color: var(--second-color);
}
.home p {
  width: 65%;
  font-weight: 400;
  margin: 0 auto;
  text-shadow: 13px 9px 7px black;
  font-size: 19px;
}

/* ************* MEDIA QUERIES (MEDUIM SCREEN ) ************** */
@media screen and (max-width: 992px) {
  .home h2 {
    width: 90%;
  }
  .home p {
    width: 85%;
    font-size: 16px;
  }
}

/* ************* MEDIA QUERIES (SMALL SCREEN ) ************** */
@media screen and (max-width: 600px) {
  .home {
    left: 2%;
    top: 25%;
    width: 95%;
  }
  .home h2 {
    width: 95%;
  }
  .home p {
    width: 95%;
  }
}

@media screen and (max-width: 430px) {
  .home {
    top: 20%;
  }
  .home h2 {
    width: 100%;

    font-size: 26px;
  }
  .home p {
    width: 100%;
    font-size: 15px;
  }
}
